i.bi {
    font-size: 25px;
}

#rotateCamera {
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
    border-radius: 100%;
    padding: 1px 7px 0px 7px;
}

#canvas {
    max-width: 100%;
}