Vista previa de la aplicación:
<hr/>
<div style="padding: 10px;"
    [ngStyle]="{'background-color': configuration.style.backgroundColor, 'font-family': configuration.style.font, 'color': configuration.style.textColor}">
    <div [innerHTML]="HTMLTitle"></div>
    <br />
    <div [ngStyle]="{'text-align': getCamAlign()}">
        <video id="video" [width]="camWidth" [height]="camHeight" autoplay loop muted playsinline hidden></video>
        <canvas id="canvas" [width]="camWidth" [height]="camHeight" style="max-width: 100%;"></canvas>
        <button id="cambiarCamara" class="btn btn-light" aria-label="Rotar cámara" (click)=cambiarCamara()><i
                class="bi bi-arrow-repeat"></i></button>

        <h2>Resultado: {{category}}</h2>
        <p *ngIf="configuration.style.showOutput">{{output}}</p>
    </div>

    <div [innerHTML]="HTMLDesc"></div>
</div>