#config {
    margin: 10px;
}

.buttons button,
.buttons .alert {
    margin-top: 10px;
    margin-right: 10px;
}

.buttons .alert {
    display: inlne-block;
    padding: 5px;
}

#offcanvasBottom {
    --bs-offcanvas-height: 60vh;
}

.colorPicker {
    border: 2px solid black;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    color: #6a6a6a;
}

.color-picker {
    position: relative;
}

div.alert {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.alert button.close {
    color: inherit;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    line-height: 1;
    margin-top: -2.5px;
    margin-right: -10px;
    margin-left: 10px;
}

.alert button.close:hover {
    color: black,
}

.card {
    padding: 0px;
}

input.colorPicker {
    border-radius: 0px .375rem .375rem 0px !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
}