<div id="config">
    Vista previa de la aplicación:
    <app-preview [configuration]="configuration"></app-preview>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Configuración de la vista de la aplicación</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <form [formGroup]="form">
                <div class="row">
                    <label>Selecciona un nuevo modelo:<br /></label>
                    <input type="file" (change)="onFileSelected($event)" accept=".json,.bin" webkitdirectory directory
                        multiple class="form-control-file">
                    <label>Debes seleccionar un directorio que contenga el archivo model.json y los .bin
                        correspondientes.</label>
                </div>
                <br />
                <div class="row g-2">
                    <div class="col-md">
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">Título de la aplicación</span>
                            <input #title (ngModelChange)="setTitle(title.value)" type="text" formControlName="title"
                                class="form-control" placeholder="Título de la aplicación"
                                [ngClass]="{'is-invalid': form.controls['title'].errors}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="input-group">
                            <span class="input-group-text">Descripción</span>
                            <textarea #description (ngModelChange)="setDescription(description.value)"
                                class="form-control" type="text" formControlName="description"
                                placeholder="Descripción de la aplicación"
                                [ngClass]="{'is-invalid': form.controls['description'].errors}"></textarea>
                        </div>
                    </div>
                </div>
            </form><br />
            <div class="card">
                <div class="card-header">Estilo</div>
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Selecciona la alineación de la cámara:&nbsp;&nbsp;</label>
                            <div class="btn-group btn-group-toggle">
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.camAlign === Align.left"
                                    (click)="setCamAlign(Align.left)"><i class="bi bi-text-left"></i></button>
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.camAlign === Align.center"
                                    (click)="setCamAlign(Align.center)"><i class="bi bi-text-center"></i></button>
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.camAlign === Align.right"
                                    (click)="setCamAlign(Align.right)"><i class="bi bi-text-right"></i></button>
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.camAlign === Align.justify"
                                    (click)="setCamAlign(Align.justify)"><i class="bi bi-justify"></i></button>
                            </div>
                        </div>
                        <div class="col-md">
                            <label>Selecciona la alineación del texto:&nbsp;&nbsp;</label>
                            <div class="btn-group btn-group-toggle">
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.textAlign === Align.left"
                                    (click)="setTextAlign(Align.left)"><i class="bi bi-text-left"></i></button>
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.textAlign === Align.center"
                                    (click)="setTextAlign(Align.center)"><i class="bi bi-text-center"></i></button>
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.textAlign === Align.right"
                                    (click)="setTextAlign(Align.right)"><i class="bi bi-text-right"></i></button>
                                <button class="btn btn-secondary"
                                    [class.active]="configuration.style.textAlign === Align.justify"
                                    (click)="setTextAlign(Align.justify)"><i class="bi bi-justify"></i></button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row g-2">
                        <div class="input-group input-group-sm col-md">
                            <span class="input-group-text">Selecciona la fuente de los títulos:</span>
                            <select class="form-select form-select-sm"
                                [(ngModel)]="configuration.style.titleFontFamily">
                                <option *ngFor="let font of fontList"
                                    [selected]="font.name === configuration.style.titleFontFamily">{{ font.name }}
                                </option>
                            </select>
                        </div>
                        <div class="input-group input-group-sm col-md">
                            <span class="input-group-text">Selecciona la fuente del contenido:</span>
                            <select class="form-select form-select-sm"
                                [(ngModel)]="configuration.style.contentFontFamily">
                                <option *ngFor="let font of fontList"
                                    [selected]="font.name === configuration.style.contentFontFamily">{{ font.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row g-3">
                        <div class="input-group input-group-sm col-sm">
                            <span class="input-group-text">Color de fondo:</span>
                            <input readonly class="colorPicker" [value]="configuration.style.backgroundColor"
                                [style.background]="configuration.style.backgroundColor" [cpPosition]="'top'"
                                [(colorPicker)]="configuration.style.backgroundColor" />
                        </div>
                        <div class="input-group input-group-sm col-sm">
                            <span class="input-group-text">Color de los títulos:</span>
                            <input readonly class="colorPicker" [value]="configuration.style.titleColor"
                                [style.background]="configuration.style.titleColor" [cpPosition]="'top'"
                                [(colorPicker)]="configuration.style.titleColor" />
                        </div>
                        <div class="input-group input-group-sm col-sm">
                            <span class="input-group-text">Color del contenido:</span>
                            <input readonly class="colorPicker" [value]="configuration.style.contentColor"
                                [style.background]="configuration.style.contentColor" [cpPosition]="'top'"
                                [(colorPicker)]="configuration.style.contentColor" />
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="card">
                <div class="card-header">Categorías:</div>
                <br />
                <div class="form-check form-switch py-1 mx-4">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        [(ngModel)]="configuration.useRange">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Utilizar rango de valores</label>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let categorie of configuration.categories; index as i;">
                            <div class="row g-3">
                                <div class="input-group input-group-sm col">
                                    <span class="input-group-text">Nombre de la categoría {{i}}:</span>
                                    <input [(ngModel)]="categorie.name" type="text" class="form-control">
                                </div>
                                <div *ngIf="configuration.useRange" class="input-group input-group-sm col">
                                    <span class="input-group-text">Rango de valores:</span>
                                    <span class="input-group-text">&#62;</span>
                                    <input [(ngModel)]="categorie.minValue" type=number step="0.1" class="form-control">
                                    <span class="input-group-text">&lt;&#61;</span>
                                    <input [(ngModel)]="categorie.maxValue" type=number step="0.1" class="form-control">
                                </div>
                                <div class="col-1">
                                    <button (click)="deleteCategory(categorie)" class="btn btn-danger btn-sm"><i
                                            class="bi bi-trash3-fill"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <br />
                    <button (click)="addCategory()" type="button" class="btn btn-primary btn-sm">Añadir nueva
                        categoría</button>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom">Configuración de la vista</button>
        <button type="button" id="downloadBtn" class="btn btn-secondary" (click)="download()">Descargar app
            actual</button>
        <button type="button" class="btn btn-warning" (click)="addConfig()">Añadir a la lista</button>
    </div>

    <div *ngIf="message!=''" class="alert"
        [ngClass]="{'alert-danger': success === false, 'alert-success': success === true}" role="alert">{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
            <span>&times;</span>
        </button>
    </div>
</div>