<app-navbar></app-navbar>

<div *ngIf="loaded">
    <div class="card bg-light mb-3 m-3">
        <div class="card-header"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Editor de la aplicación</div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-titulo-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-titulo" type="button" role="tab" aria-controls="pills-titulo"
                        aria-selected="true">Id y título</button>
                </li>
                <li class="nav-item" role="description">
                    <button class="nav-link" id="pills-descripcion-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-descripcion" type="button" role="tab" aria-controls="pills-descripcion"
                        aria-selected="true">Descripción</button>
                </li>
                <li class="nav-item" role="categories">
                    <button class="nav-link" id="pills-categories-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-categories" type="button" role="tab" aria-controls="pills-categories"
                        aria-selected="false">Categorías</button>
                </li>
                <li class="nav-item" role="style">
                    <button class="nav-link" id="pills-style-tab" data-bs-toggle="pill" data-bs-target="#pills-style"
                        type="button" role="tab" aria-controls="pills-style" aria-selected="false">Estilo</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-titulo" role="tabpanel"
                    aria-labelledby="pills-titulo-tab">
                    <!--Título-->
                    <form [formGroup]="form">
                        Anterior id: {{configuration.id}}<br />
                        <div class="input-group id">
                            <span class="input-group-text" id="inputGroup-sizing-default">Id de la aplicación</span>
                            <input #id (ngModelChange)="setId(id.value)" type="text" formControlName="id"
                                class="form-control" placeholder="Id. de la aplicación"
                                [ngClass]="{'is-invalid': form.controls['id'].errors}">
                        </div>
                        <br />
                        Escribe a continuación el título de la aplicación:
                        <br />
                        <ngx-editor-menu [editor]="editorTitle" [toolbar]="toolbar"
                            [colorPresets]="colorPresets"></ngx-editor-menu>
                        <ngx-editor [editor]="editorTitle" (ngModelChange)="setTitle($event)" formControlName="title"
                            [ngClass]="{'is-invalid': form.controls['title'].errors}"></ngx-editor>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-descripcion" role="tabpanel"
                    aria-labelledby="pills-descripcion-tab">

                    <!--Descripcion-->
                    <form [formGroup]="form">
                        Escribe a continuación la descripción de la aplicación:
                        <br />
                        <ngx-editor-menu [editor]="editorDesc" [toolbar]="toolbar"
                            [colorPresets]="colorPresets"></ngx-editor-menu>
                        <ngx-editor [editor]="editorDesc" (ngModelChange)="setDescription($event)"
                            formControlName="description"
                            [ngClass]="{'is-invalid': form.controls['description'].errors}"></ngx-editor>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-categories" role="tabpanel" aria-labelledby="pills-categories-tab">
                    <!--CATEGORÍAS-->
                    <div class="form-check form-switch py-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckRange"
                            [(ngModel)]="configuration.useRange">
                        <label class="form-check-label" for="flexSwitchCheckRange">Utilizar rango de
                            valores</label>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let categorie of configuration.categories; index as i;">
                            <div class="row g-3">
                                <div class="input-group input-group-sm col title">
                                    <span class="input-group-text" maxlength="100">Nombre de la categoría
                                        {{i}}:</span>
                                    <input [(ngModel)]="categorie.name" type="text" class="form-control">
                                </div>
                                <div *ngIf="configuration.useRange" class="input-group input-group-sm col range">
                                    <span class="input-group-text">Rango de valores:</span>
                                    <span class="input-group-text">&#62;</span>
                                    <input [(ngModel)]="categorie.minVal" type=number step="0.1" class="form-control">
                                    <span class="input-group-text">&lt;&#61;</span>
                                    <input [(ngModel)]="categorie.maxVal" type=number step="0.1" class="form-control">
                                </div>
                                <div class="col-1">
                                    <button (click)="deleteCategory(categorie)" class="btn btn-danger btn-sm"><i
                                            class="bi bi-trash3-fill"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <br />
                    <button (click)="addCategory()" type="button" class="btn btn-primary btn-sm"><i
                            class="bi bi-plus-circle"></i>
                        Añadir otra categoría</button>
                </div>
                <div class="tab-pane fade" id="pills-style" role="tabpanel" aria-labelledby="pills-style-tab">
                    <!--ESTILO-->
                    <div class="form-check form-switch py-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckNumeric"
                            [(ngModel)]="configuration.style.showOutput">
                        <label class="form-check-label" for="flexSwitchCheckNumeric">Mostrar resultado numérico</label>
                    </div>

                    Selecciona la alineación de la cámara:&nbsp;&nbsp;
                    <div class="btn-group btn-group-toggle">
                        <button class="btn btn-secondary" [class.active]="configuration.style.camAlign === Align.left"
                            (click)="setCamAlign(Align.left)"><i class="bi bi-text-left"></i></button>
                        <button class="btn btn-secondary" [class.active]="configuration.style.camAlign === Align.center"
                            (click)="setCamAlign(Align.center)"><i class="bi bi-text-center"></i></button>
                        <button class="btn btn-secondary" [class.active]="configuration.style.camAlign === Align.right"
                            (click)="setCamAlign(Align.right)"><i class="bi bi-text-right"></i></button>
                    </div>
                    <br /> <br />
                    <div class="row g-3">
                        <div class="input-group input-group-sm col-sm font">
                            <span class="input-group-text">Selecciona la fuente del texto:</span>
                            <select class="form-select form-select-sm" [(ngModel)]="configuration.style.font">
                                <option *ngFor="let font of fontList"
                                    [selected]="font.name === configuration.style.font">{{
                                    font.name }}
                                </option>
                            </select>
                        </div>
                        <div class="input-group input-group-sm col-sm bgcolor">
                            <span class="input-group-text">Selecciona el color de fondo:</span>
                            <input readonly class="colorPicker" [cpToggle]="false"
                                [value]="configuration.style.backgroundColor"
                                [style.background]="configuration.style.backgroundColor" [cpPosition]="'right'"
                                [(colorPicker)]="configuration.style.backgroundColor" />
                        </div>
                        <div class="input-group input-group-sm col-sm color">
                            <span class="input-group-text">Selecciona el color por defecto del texto:</span>
                            <input readonly class="colorPicker" [cpToggle]="false"
                                [value]="configuration.style.textColor"
                                [style.background]="configuration.style.textColor" [cpPosition]="'right'"
                                [(colorPicker)]="configuration.style.textColor" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3">
        <div *ngIf="saveMessage!=''" class="alert alert-dismissible fade show"
            [ngClass]="{'alert-danger': saved === false, 'alert-success': saved === true}" role="alert">
            <i class="bi bi-check-circle-fill" *ngIf="saved"></i>
            <i class="bi bi-exclamation-circle-fill" *ngIf="!saved"></i>
            {{saveMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div *ngIf="errorMessage!=''" class="alert alert-danger" role="alert">{{errorMessage}}</div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"
            [disabled]="errorMessage!=''">
            Guardar cambios
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Guardar cambios</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Al pulsar en confirmar se actualizará la
                        configuración de la aplicación por la nueva configuración, ¿estas seguro de que deseas
                        guardar los cambios?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-warning" (click)="saveChanges()"
                            data-bs-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3">
        <app-preview [config]="configuration"></app-preview>
    </div>
</div>
<app-footer></app-footer>