<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="bi bi-boxes"></i>
        Incrustado de modelos
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div id="preview">
    Vista previa de la aplicación:
    <ng-container *ngIf="configLoaded">
        <app-preview [configAndChargeModel]="selectedConfig"></app-preview>
    </ng-container>

    <div class="buttons">
        <button class="btn btn-primary" type="button" (click)="openEdit()">Editar la aplicación</button>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Lista de aplicaciones</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a *ngFor="let config of configurations.reverse()" [class.active]="config.id === getSelected().id"
                (click)="setSelected(config)" class="list-group-item list-group-item-action">{{config.id}}
                <button type="button" (click)="delete(config.id)" onclick="event.stopPropagation()"
                    class="btn btn-light btn-sm text-danger"><i class="bi bi-trash-fill"></i></button>
                <button type="button" (click)="view(config.id)" class="btn btn-light btn-sm"
                    onclick="event.stopPropagation()"><i class="bi bi-eye-fill"></i></button>
                <button type="button" (click)="download(config.id)" class="btn btn-light btn-sm"
                    onclick="event.stopPropagation()"><i class="bi bi-download"></i></button>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>