<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="bi bi-boxes"></i>
        Incrustado de modelos
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="m-3">
    <ng-container *ngIf="selectedApp != null && getApps().length > 0">
        <app-preview [applicationAndChargeModel]="selectedApp"></app-preview>
    </ng-container>

    <div *ngIf="getApps().length == 0">
        No se ha creado ninguna aplicación. Pulsa en crear nueva aplicación para crear tu primera aplicación.
    </div>

    <div class="buttons">
        <button class="btn btn-warning" type="button" (click)="openEdit()"
            *ngIf="selectedApp != null && getApps().length > 0"><i class="bi bi-pencil-square"></i>
            Editar la aplicación</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalCreate"><i
                class="bi bi-plus-square"></i>
            Crear
            nueva aplicación</button>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bienvenido {{getUsername()}}
        </a>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button" (click)="editProfile()">Editar perfil</button></li>
            <li><button class="dropdown-item" type="button" (click)="logout()">Cerrar sesión</button></li>
        </ul>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <h5 id="offcanvasRightLabel">Lista de aplicaciones</h5>

        <div class="list-group" *ngIf="selectedApp != null && getApps().length > 0">
            <a *ngFor="let config of selectedApp != null && getApps()"
                [class.active]="config.id === getSelectedApp().id" (click)="setSelectedApp(config)"
                class="list-group-item list-group-item-action">{{config.id}}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light btn-sm text-danger" data-bs-toggle="modal"
                    data-bs-target="#modalDelete" onclick="event.stopPropagation()" (click)="setDeleteAppId(config.id)">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button type="button" (click)="view(config.id)" class="btn btn-light btn-sm"
                    onclick="event.stopPropagation()"><i class="bi bi-eye-fill"></i></button>
                <button type="button" (click)="download(config.id)" class="btn btn-light btn-sm"
                    onclick="event.stopPropagation()"><i class="bi bi-download"></i></button>
            </a>
        </div>
    </div>
</div>

<!-- Modal: Eliminar aplicación -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar aplicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Al pulsar en confirmar se eliminará la aplicación de la lista de aplicaciones, ¿deseas
                eliminar la aplicación?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="onDelete()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Crear aplicación -->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <app-create></app-create>
</div>
<app-footer></app-footer>