<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="bi bi-boxes"></i>
        Incrustado de modelos
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<router-outlet></router-outlet>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Modelos cargados</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <ul class="nav justify-content-center">
        <li class="nav-item"><a href="#" class="nav-link px-2 link-dark">Home</a></li>
        <li class="nav-item"><a href="help" class="nav-link px-2 link-dark">Help</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>
</footer>